$color-primary-dark: #31428c;
$color-primary-light: #8291d3;
$color-primary-cyan: #036de1;
$color-blue-dark: hsl(240, 25%, 12%);

$color-secondary-light: #55c57a;
$color-secondary-dark: #28b485;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

$color-blue-dark: hsl(240, 25%, 12%);

$color-grey: #4b5049;
$color-grey-light: hsl(60, 4%, 90%);
$color-white: hsl(0, 0%, 96%);
$color-black: hsl(0, 20%, 1%);
$color-black-light: hsl(0, 10%, 9%);

//Font-size
$default-font-size: 1.6rem;

//Grid
$total-width: 114rem;
$hor-spacing: 6rem;
$ver-spacing: 8rem;
$ver-spacing-small: 6rem;

// Border-radius
$border-radius-default: 4px;
