.row {
	max-width: $total-width;
	margin: 0 auto;
	&:not(:last-child) {
		margin-bottom: $ver-spacing;
		@include respond(tab-port) {
			margin-bottom: $ver-spacing-small !important;
		}
	}
	@include respond(tab-port) {
		max-width: 50rem;
		padding: 0 3rem;
	}

	[class^="col-"] {
		float: left;
		&:not(:last-child) {
			margin-right: $hor-spacing;
		}
		@include respond(tab-port) {
			width: 100% !important;
			margin-right: 0;
			margin-bottom: $hor-spacing;
		}
	}
	.col-1-of-2 {
		width: calc((100% - #{$hor-spacing}) / 2);
	}
	.col-1-of-3 {
		width: calc((100% - 2 * #{$hor-spacing}) / 3);
	}
	.col-1-of-4 {
		width: calc((100% - 3 * #{$hor-spacing}) / 4);
	}
	.col-2-of-3 {
		width: calc((100% - #{$hor-spacing}) * (2 / 3));
	}
	.col-2-of-4 {
		width: calc((100% - #{$hor-spacing}) / 2);
	}
	.col-3-of-4 {
		width: calc((100% - #{$hor-spacing}) * (3 / 4));
	}
	&::after {
		@include clear-fix;
	}
}
