@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(2rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0rem);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(-.1rem);
	}
}
@keyframes moveFromBottom {
	0% {
		opacity: 0;
		transform: translateY(10rem);
	}
	80% {
		transform: translateY(-.2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes animated-gradient {
	0% {
		background-position: 0;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}
@keyframes input-animation {
	0% {
		transform: translate(10%, 50%);
	}
	100% {
		transform: translate(5%, -45%);
	}
}
