*,
::before,
::after {
	font-family: 'Raleway', sans-serif;
}
body {
	color: $color-white;
	background-color: $color-black;
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 400;
}
.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden; /*Removes the shakiness from the animation*/
	margin-bottom: 5rem;
	&--main {
		display: block;
		letter-spacing: 4rem;
		font-size: 6.8rem;
		font-weight: 500;
		animation: moveInLeft 3s forwards ease-in;
		margin-left: 2rem;
		@include respond(phone) {
			letter-spacing: 1rem;
			font-style: 4.5rem;
		}
	}
	&--sub {
		margin-top: 1rem;
		display: block;
		font-weight: 400;
		letter-spacing: 2rem;
		font-size: 2.6rem;
		animation: moveInRight 3s forwards linear;
		@include respond(phone) {
			letter-spacing: 1rem;
			font-style: 1.2rem;
		}
	}
}
.heading-secondary {
	font-size: 3.2rem;
	text-transform: uppercase;
	backface-visibility: hidden;
	font-weight: 600;
	background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #00dbde, #fc00ff);
	background-size: 400%;
	background-position: 400%;
	animation: animated-gradient 5s linear infinite;
	display: inline-block;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: all .4s;
	&:hover {
		transform: skewY(1deg) skewX(10deg) scale(1.1);
		text-shadow: .5rem 2rem 2rem rgba($color-black, 0.2);
	}
	@include respond(tab-port) {
		font-size: 3rem;
	}
	@include respond(phone) {
		font-size: 2.5rem;
	}
}
.heading-tertiary {
	font-weight: 700;
	font-size: $default-font-size;
	text-transform: uppercase;
}
.paragraph {
	font-size: $default-font-size;
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
}
