.u-center-class {
	text-align: center !important;
}
.u-margin-big {
	margin-bottom: 10rem !important;
}
.u-margin-huge {
	margin-bottom: 12rem !important;
}
.u-margin-small {
	margin-bottom: 1.5rem !important;
}
.u-margin-medium {
	margin-bottom: 4rem !important;
}
.u-margin-top {
	margin-top: 15rem !important;
}
.u-margin-top-small {
	margin-top: 6rem !important;
}
.u-hidden {
	display: none !important;
}
