.u-center-class {
	text-align: center !important;
}
.u-margin-big {
	margin-bottom: 10rem !important;
	@include respond(tab-port) {
		margin-bottom: 5rem !important;
	}
}
.u-margin-huge {
	margin-bottom: 12rem !important;
}
.u-margin-small {
	margin-bottom: 1.5rem !important;
}
.u-margin-medium {
	margin-bottom: 4rem !important;
	@include respond(phone) {
		margin-bottom: 2rem !important;
	}
}
.u-margin-top {
	margin-top: 15rem !important;
	@include respond(tab-port) {
		margin-top: 8rem !important;
	}
}
.u-margin-top-small {
	margin-top: 6rem !important;
	@include respond(tab-port) {
		margin-top: 2rem !important;
	}
}
.u-hidden {
	display: none !important;
}
